@{
    Layout = "_Layout";
}
@using DoctorsOffice.Models;
@model DoctorsOffice.Models.Doctor;

<div class="comtainer">
    <h1 class="jumbotron">Search for a Doctor</h1>

    <h3>Search here</h3>
    @using (@Html.BeginForm())
    {
        @Html.LabelFor(model => model.Name)
        @Html.TextBoxFor(model => model.Name)<br>

        <input type="submit" value="search" class="btn btn-dark" />
    }

    @if (@ViewBag.Doctors == null)
    {
        <p>No search results found yet</p>
    }
    else
    {
        @foreach (Doctor doc in @ViewBag.Doctors)
        {
            <l1 id="doctor">@doc.Name</l1>
        }
    }

</div>
