@{
  Layout = "_Layout";
}

@using DoctorsOffice.Models
@model DoctorsOffice.Models.Patient

<h1 class="jumbotron">Patient Details</h1>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>
<h3>@Html.DisplayNameFor(model => model.BirthDate): @Html.DisplayFor(model => model.BirthDate)</h3>

@if (@Model.JoinEntities.Count == 0)
{
  <p>This Patient does not belong to any Doctors</p>
}
else
{
  <h4>Doctors the Patient belongs to:</h4>
  <ul class="row">
    @foreach (DoctorPatient join in Model.JoinEntities)
    {
      <li id="doctor">@join.Doctor.Name</li>
      @using (Html.BeginForm("DeleteJoin", "Patients"))
      {
        @Html.Hidden("joinId", @join.DoctorPatientId)
        <input type="submit" value="Delete" class="btn btn-dark btn-sm"/>
      }
    }
  </ul>
}

<p class="btn btn-dark">@Html.ActionLink("Add a Doctor", "AddDoctor", new { id = Model.PatientId })</p>
<p class="btn btn-dark">@Html.ActionLink("Edit Patient", "Edit", new { id = Model.PatientId })</p>
<p class="btn btn-dark">@Html.ActionLink("Delete Patient", "Delete", new { id = Model.PatientId })</p>